.container{
   
}

.wrapper_add{
    align-items: center;
}

.title{
    font-size: 1.6rem;
    font-weight: 600;
    color:yellowgreen;
    text-align: center;
}


.border {
    display: block;
    border-bottom: 1px solid rgb(11, 135, 129);
    margin-top: 4px;
}

.main_color{
    color:#4682B4
}
